<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>talks</key>
	<array>
		<dict>
			<key>talkId</key>
			<integer>3</integer>
			<key>presenterId</key>
			<integer>3</integer>
			<key>title</key>
			<string>Go go fast as developer</string>
			<key>day</key>
			<integer>3</integer>
			<key>time</key>
			<string>9:00am</string>
			<key>keynote</key>
			<true/>
		</dict>
		<dict>
			<key>talkId</key>
			<integer>2</integer>
			<key>presenterId</key>
			<integer>2</integer>
			<key>title</key>
			<string>Rails 4 and the future of web</string>
			<key>day</key>
			<integer>2</integer>
			<key>time</key>
			<string>9:00am</string>
			<key>keynote</key>
			<true/>
		</dict>
		<dict>
			<key>talkId</key>
			<integer>1</integer>
			<key>presenterId</key>
			<integer>1</integer>
			<key>title</key>
			<string>The Future of Work</string>
			<key>day</key>
			<integer>1</integer>
			<key>time</key>
			<string>9:00AM</string>
			<key>keynote</key>
			<true/>
		</dict>
	</array>
	<key>presenters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Dr. Nic</string>
			<key>presenterId</key>
			<integer>3</integer>
			<key>twitter</key>
			<string>@drnic</string>
			<key>bio</key>
			<string>Bio info</string>
			<key>picture</key>
			<string>images/drnic.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aaron Patterson</string>
			<key>presenterId</key>
			<integer>2</integer>
			<key>twitter</key>
			<string>@tenderlove</string>
			<key>bio</key>
			<string>Bio info</string>
			<key>picture</key>
			<string>images/tenderlove.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Scott Chacon</string>
			<key>presenterId</key>
			<integer>1</integer>
			<key>twitter</key>
			<string>@chacon</string>
			<key>bio</key>
			<string>Bio info</string>
			<key>picture</key>
			<string>images/chacon.png</string>
		</dict>
	</array>
</dict>
</plist>
